
<p-accordion>
  <div class="navbar">
    <div>
      <img class="logo-img" src="../../../assets/img/logo.png">
    </div>
    <div>
        <ul>
          <li><a href="#">TIN TỨC</a></li>
          <li><a href="#">DIỄN DÀN</a></li>
          <li><a href="#">SỰ KIỆN</a></li>
          <li><a href="#">MUA SẮM</a></li>
        </ul>
    </div>
    <input type="text" class="search">
    <input type="button" class="search" value="search">
    <input type="button" class="login" value="Login">
  </div>
</p-accordion>

<br>
