*node_modules/*
*/.idea/*
*.idea/*
server/apidoc/
client/src/app/data-transfer/.idea/
server/logs/blog-2019-05-19.log
server/logs/blog-2019-05-18.log
server/logs/blog-2019-05-17.log
server/logs/blog-2019-05-16.log
server/logs/blog-2019-05-15.log
server/logs/blog-2019-05-14.log
server/logs/blog-2019-05-13.log
server/logs/blog-2019-05-12.log
server/logs/blog-2019-05-10.log
server/logs/blog-2019-05-09.log
server/logs/blog-2019-05-08.log
server/logs/blog-2019-05-07.log
server/logs/blog-2019-05-06.log
server/logs/blog-2019-05-05.log
server/logs/blog-2019-05-02.log
server/logs/blog-2019-04-21.log
server/logs/blog-2019-04-18.log
server/logs/blog-2019-04-17.log
server/logs/blog-2019-04-11.log
server/logs/blog-2019-04-10.log
server/logs/blog-2019-04-08.log
server/logs/blog-2019-04-07.log
server/logs/blog-2019-04-04.log
server/logs/blog-2019-04-03.log
server/node_modules/
server/logs/
