<div>
  <app-navbar></app-navbar>
  <div class="container">
    <h1>new</h1>
    <h1>new</h1>
    <h1>new</h1>
    <h1>new</h1>
    <h1>new</h1>
    <carousel-root></carousel-root>
  </div>
  <div>
    <!--<app-modal></app-modal>-->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <div *ngIf="typePaging">
          <ul class="nav navbar-nav" *ngFor="let t of typePaging">
            <li><a href="#">{{t.name}}</a></li>
            <div *ngIf="t.child">
              <div>{{t.child}}</div>
            </div>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <app-footer></app-footer>
</div>
