<div>
  <app-navbar></app-navbar>
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-6">col-6</div>
      <div class="col-xs-6">col-6</div>
      <div class="col-xs-4">col-4</div>
      <div class="col-xs-4">col-4</div>
      <div class="col-xs-4">col-4</div>
    </div>
  </div>
  <div class="container">
    <carousel-root></carousel-root>
  </div>
  <div>
    <h1>new</h1>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <div *ngIf="typePaging">
          <ul class="nav navbar-nav" *ngFor="let t of typePaging">
            <li><a href="#">{{t.name}}</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <app-footer></app-footer>
</div>
