<div class="container emp-profile" *ngIf="userShow">
  <form method="post" (keyup.enter)="doUpdateUser()">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img src="../../../assets/img/thuongntt.jpg" alt=""/>
          <div class="file btn btn-lg btn-primary">
            Thay đổi ảnh đại diện
            <input type="file" name="file"/>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>
            {{userShow.fullname}}
          </h5>
          <h6>
            <button class="btn btn-danger" *ngIf="userShow.role_id==1">Quản trị viên</button>
            <button class="btn btn-primary" *ngIf="userShow.role_id==2">Thành viên</button>
          </h6>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Thông tin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Kết nối</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <input type="submit" class="profile-edit-btn btn-warning" (click)="changeEdit()" name="btnAddMore" value="Edit Profile"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-work">
          <p>Thân ái!</p>
          <a href="">Cảm ơn bạn đã đồng hành cùng chúng tôi!</a><br/>
        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-md-6">
                <label>Tài khoản</label>
              </div>
              <div class="col-md-6">
                {{userShow.account}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Họ tên</label>
              </div>
              <div class="col-md-6">
                <p>{{userShow.fullname}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Email</label>
              </div>
              <div class="col-md-6">
                <p>{{userShow.email|| "Chờ cập nhật..."}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Số điện thoại</label>
              </div>
              <div class="col-md-6">
                <p>{{userShow.phone || "Chờ cập nhật..."}}</p>
              </div>
            </div>
            <hr/>
            <div class="row text-center">
              <div class="col-md-12">
                <input (click)="doUpdateUser()" class="btn btn-primary" value="Lưu"/>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
              <div class="col-md-6">
                <label>Liên kết Faceboook</label>
              </div>
              <div class="col-md-6">
                <a class="btn btn-primary" href="#"><i class="fab fa-facebook-f mr-2"></i> Facebook</a>
              </div>
            </div>
            <hr/>
            <div class="row"></div>
              <div class="row">
              <div class="col-md-6">
                <label>Liên kết Twitter</label>
              </div>
              <div class="col-md-6">
                <a class="btn btn-primary" href="#"><i class="fab fa-twitter mr-2"></i>Twitter</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
