<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
  <div class="list-group">
    <a routerLink="/member" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-address-card"></i>&nbsp;
      <span>{{ 'Member'  }}</span>
    </a>
    <a routerLink="/topic" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-align-left fa-fw"></i>&nbsp;
      <span>{{ 'Topices'  }}</span>
    </a>
    <a routerLink="/event" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-asterisk"></i>&nbsp;
      <span>{{ 'Event'  }}</span>
    </a>
    <a routerLink="/approved" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-check-square fa-fw"></i>&nbsp;
      <span>{{ 'Approved'  }}</span>
    </a>
    <a routerLink="/statistics" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-bar-chart-o fa-crown"></i>&nbsp;
      <span>{{ 'Statistics'  }}</span>
    </a>
  </div>
  <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
    <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
    <span>{{ 'Collapse Sidebar'  }}</span>
  </div>
</nav>
