// color variables
$title_color: #F90CE5;
$background-white: #fff;

//commons

.navbar-light {
  .navbar-nav {
    .active>.nav-link,.nav-link.active,.nav-link.show,.show>.nav-link {
      color: $title_color;
    }
  }
}
.dropdown-item{
  &.active, &:active {
    color: $title_color;
  }
}
.page-name{
  color: $title_color;
  font-family: cursive;
}
.fas.fa-search {
  top: 10px;
  position: absolute;
  left: 220px;
  color: $title_color;
  font-size: 20px;
}
.icons:hover{
  .search-text{
    display: block;
  }
}
.btn-login{
  border: 1px solid $title_color;
  a{
    color: $title_color;
  }
}
.search-text{
  display: none;
}
