<div class="text-center pb-4"><h3>{{title}}</h3></div>
<div class="row">
  <div class="col-sm-2 pb-2">Title</div>
  <div class="col-sm-10 pb-2">
    <input class="form-control" name="title" [(ngModel)]="topicData.title">
  </div>
  <div class="col-sm-2 pb-2">Type</div>
  <div class="col-sm-10 pb-2">
    <select class="type-dropdown form-control" *ngIf="typeList" [(ngModel)]="topicData.type">
      <option class=" type-menu" *ngFor="let type of typeList" value="{{type.id}}" >

          {{type.name}}
      </option>
    </select>
  </div>
  <div class="col-sm-2 pb-2">Summary</div>
  <div class="col-sm-10 pb-2">
    <input class="form-control" name="title" [(ngModel)]="topicData.summary">
  </div>
  <div class="col-sm-2 pb-2">Content</div>
  <div class="col-sm-10 pb-2">
    <quill-editor [(ngModel)]="topicData.content"></quill-editor>
  </div>
  <div class="col-sm-2 pb-2">Thumbnail</div>
  <div class="col-sm-10 pb-2">
    <input type="file" name="thumbnail" (change)="onInputFileChange($event.target.files)" >
  </div>

  <div class="col-sm-12 text-center pb-2"><button class="btn btn-primary" (click)="submitTopic()">{{buttonText}}</button></div>
</div>
